.contact
  clear: both
  
  &__form
    display: flex

    flex-wrap: wrap
    justify-content: space-between
  
  &__name, &__email, &__subject, &__message
    padding: 1rem 2rem

    color: $text
    font-size: $input-size
    font-weight: $input-weight

    background-color: inherit

    border: 0.5px solid $text

    transition: all 0.4s

    &::placeholder
      color: $muted

    &:focus
      transform: scale(0.95)
      transition: all 0.4s
      
      outline-color: $text

    
  &__name, &__email, &__subject
    margin: 0 $margin $margin

    flex: 1

    &:first-of-type
      margin-left: 0

    &:last-of-type
      margin-right: 0

  &__message
    width: 100%
    min-height: 18rem
    margin: 0 0 $margin 0

    resize: none

  &__submit
    padding: 1rem 2rem
    margin: 0 auto

    color: $text
    text-transform: uppercase

    background-color: $primary

    border-radius: 0.3rem
    border: 0.1rem solid transparent

    cursor: pointer
    transition: all 0.4s

    &:hover 
      background-color: darken($primary, 10%)
      
      transition: all 0.4s

    &:focus
      outline-color: lighten($primary, 10%)