.hero
  &__headline
    font-size: $headline-size
    font-weight: $headline-weight
    line-height: $headline-line-height
    &--primary
      color: $primary
    &--bold
      font-weight: 500
    &--italic
      font-style: italic