.portfolio
  clear: both

  &__item
    width: calc(100% / 3)
    padding: $margin * 0.6

    float: left

    cursor: pointer
    transition: all 0.4s

    @include breakpoint(to-laptop)
      width: calc(100% / 2)

    @include breakpoint(phone)
      width: 100%
      
    &:hover 
      transform: scale(0.9)

      transition: all 0.4s

    &-container
      margin: -$margin * 0.6

      &::after
        content: ""
        display: table
        clear: both

    img
      width: 100%;
      height: auto;
      
      
        