.services
  &__service-title
    font-size: $service-title-size
    font-weight: $service-title-weight
  &__service-description
    color: $secondary
    font-size: $service-description-size
    font-weight: $service-description-weight