.hero, .about, .services, .portfolio, .contact, .footer
  padding-top: $block-padding
  padding-bottom: $block-padding
  margin-left: auto
  margin-right: auto
  width: 114rem
  
  @include breakpoint(laptop)
    width: 97rem

  @include breakpoint(tablet)
    width: 72rem

  @include breakpoint(phablet)
    width: 52rem

  @include breakpoint(phone)
    width: 100%
    padding-left: 2rem
    padding-right: 2rem

  &__title
    color: $primary
    font-size: $title-size
    font-weight: $title-weight
    text-transform: uppercase

  &__subtitle
    margin-bottom: $margin * 2
    
    color: $secondary
    font-size: $subtitle-size
    font-weight: $subtitle-weight