.hero, .about, .services, .portfolio, .contact, .footer
  padding-top: $block-padding
  padding-bottom: $block-padding
  margin-left: auto
  margin-right: auto
  width: 110.4rem

  &__title
    margin-bottom: $title-margin
    
    color: $primary
    font-size: $title-size
    font-weight: $title-weight
    text-transform: uppercase

  &__subtitle
    color: $secondary
    font-size: $subtitle-size
    font-weight: $subtitle-weight