//--------------------
//  Imports
//--------------------
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600&amp;subset=latin-ext')

//--------------------
//  Colors
//--------------------
$primary: #ff4d62
$secondary: #adb8c3
$text: #ffffff
$bg: #141414
$muted: #797a87

//--------------------
//  Fonts
//--------------------
$font-family: Montserrat, sans-serif;

$text-size: 2.4rem
$text-weight: 400
$text-line-height: $text-size * 1.25

$headline-size: 6rem
$headline-weight: 300
$headline-line-height: $headline-size * 1.42

$title-size: 4.8rem
$title-weight: 500

$subtitle-size: 2.4rem
$subtitle-weight: 400

$service-title-size: 3rem
$service-title-weight: 500

$service-description-size: 2rem
$service-description-weight: 400

$footer-size: 1.8rem
$footer-weight: 400

$input-size: 2rem
$input-weight: 400

$navigation-size: 1.4rem
$navigation-weight: 400

//--------------------
//  Paddings, Margins
//--------------------
$block-padding: 7.5rem

$margin: 2.5rem