html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Marko Perić | Portfolio
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
body
  //hero
  header.hero
    h1.hero__headline Hello, I’m 
      span.hero__headline--primary.hero__headline--bold Marko
      br
      span.hero__headline--bold.hero__headline--italic UX UI Designer 
      br
      | Based in Switzerland
  
  //about
  .about
    .about-container
      h2.about__title Something short
        br
        | about me
      p.about__description I am a multidisciplinary designer, focused on WEB, UX UI Design and Branding, based in Ticino, Switzerland. I am a designer with a lot of passion for digital art. 
      p.about__description I practice user centered design principles basing design decisions on user needs and business goals.
      p.about__description My tools are pen &amp; paper, Sketch, InVision, Adobe CC and other nifty software when it comes to clickable prototypes. 
      p.about__description 
        a.about__link(href="https://drive.google.com/file/d/0B5eOV9TCiix0Q3BDS3NWWE5uZTA/view", target="_blank") Download the vitae
        |  or network via 
        a.about__link(href="https://www.linkedin.com/in/marckoperic/", target="_blank") LinkedIn
        |  and 
        a.about__link(href="https://www.xing.com/profile/Marko_Peric12?sc_o=mxb_p", target="_blank") XING 
        |  to learn more about my career and the honors I'd earned for my work.
    .about__profile-image
      img(src="./img/profile.png", alt="Profile image")
  
  //services
  .services
    h2.services__title Services
    h4.services__subtitle With passion and love. For you.

    .service
      h3.service__title Interface design
      h5.service__description Website and mobile application
    .service
      h3.service__title User experience
      h5.service__description Where it all comes together
    .service
      h3.service__title Branding
      h5.service__description Corporate identities and style guides
    .service
      h3.service__title Development
      h5.service__description Front-end development
  
  //portfolio
  .portfolio
    h2.portfolio__title Portfolio
    h4.portfolio__subtitle Selected work that has been created with the help of many.

    .portfolio__item-container
      .portfolio__item
        a(href="https://www.behance.net/gallery/55293441/D-S-CARS-Responsive-Website", target="_blank")
          img(src="./img/portfolio/ds-cars.png", alt="D&S Cars")
      .portfolio__item
        a(href="https://www.behance.net/gallery/54346243/DIB-Hotel-Concept", target="_blank")
          img(src="./img/portfolio/dib-hotel.png", alt="DIB Hotel")
      .portfolio__item
        a(href="https://www.behance.net/gallery/53588695/DailyUI-Challenge", target="_blank")
          img(src="./img/portfolio/daily-ui.png", alt="Daily UI")
      .portfolio__item
        a(href="https://www.behance.net/gallery/51840439/TDI-Radio-App-Redesign", target="_blank")
          img(src="./img/portfolio/tdi-radio-app.png", alt="TDI Radio App")
      .portfolio__item
        a(href="#", target="_blank")
          img(src="./img/portfolio/art-of-cars.png", alt="Art Of Cars")
      .portfolio__item
        a(href="https://www.behance.net/gallery/49950451/Marckone-Branding", target="_blank")
          img(src="./img/portfolio/marck1-brand.png", alt="Marck1 Brand")
      .portfolio__item
        a(href="https://www.behance.net/gallery/48725323/Lookback-Records-Branding", target="_blank")
          img(src="./img/portfolio/lookback-record.png", alt="Lookback Record")
      .portfolio__item
        a(href="https://www.behance.net/gallery/48710691/Lookback-Records-App-Concept", target="_blank")
          img(src="./img/portfolio/lookback-record-app.png", alt="Lookback Record App")
      .portfolio__item
        a(href="#", target="_blank")
          img(src="./img/portfolio/ricardo-ch.png", alt="Ricardo.ch")

  //contact
  .contact
    h2.contact__title Get in touch
      br
      |  with me
    h3.contact__subtitle Let’s make some magic together.

    form.contact__form(action="http://formspree.io/milostomsik1@gmail.com", method="POST")
      input.contact__name(type="text" placeholder="Name", name="Name")
      input.contact__email(type="email" placeholder="E-mail", name="Email")
      input.contact__subject(type="text" placeholder="Subject", name="Subject")
      textarea.contact__message(placeholder="Message...", name="Message")
      button.contact__submit Send message

  //footer
  footer.footer
    p.footer__copyright © 2017 Marko Peric All rights reserved
    .footer__social
      a.footer__social-link(href="https://www.instagram.com/marck0ne/", target="_blank", title="Instagram")
        i.fa.fa-3x.fa-instagram
      a.footer__social-link(href="https://dribbble.com/marckoperic", target="_blank", title="Dribbble")
        i.fa.fa-3x.fa-dribbble
      a.footer__social-link(href="https://www.linkedin.com/in/marckoperic/", target="_blank", title="LinkedIn")
        i.fa.fa-3x.fa-linkedin